<ion-header>
  <ion-toolbar>
    <ion-title>{{ pokemon?.name | titlecase }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        (click)="handleBackClick($event)"
      ></ion-back-button>
    </ion-buttons>
 
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="pokemon as p">
  <ion-card>
    <img
      [src]="p.sprites?.other?.['official-artwork']?.front_default"
      [alt]="p.name"
    />

    <ion-card-header>
      <ion-card-title>#{{ p.id }} - {{ p.name | titlecase }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Height:</strong> {{ p.height / 10 }} m</p>
      <p><strong>Weight:</strong> {{ p.weight / 10 }} kg</p>
      <p><strong>Base experience:</strong> {{ p.base_experience }}</p>
      <p><strong>Types:</strong> {{ pokemonTypes }}</p>
      <p><strong>Abilities:</strong> {{ pokemonAbilities }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
