<ion-header>
  <ion-toolbar>
    <ion-title>Pokémon List</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToFavorites()">
        Favoritos
        <ion-icon name="heart" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let pokemon of pokemons">
        <app-card-pokemon [pokemon]="pokemon"></app-card-pokemon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="previousPage()" [disabled]="offset === 0"
          >Previous</ion-button
        >
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="nextPage()">Next</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-content>
